body{
  margin: 0 auto;
}
header{
  position: relative;
  width: 100%;
  display: block;
  background-color:#b8dbec;
  height:70px;
}
.main{
  margin-top: 3%;
  position: relative;
  width: 100%;
}
.ticketCerrado{
  margin-left: 1%;
  width: 98%;
}
.ticketCerradoCounter{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.ticketCerradoCounter h3{
  text-align: center;
  margin-bottom: 1%;
}
.ticketCerradosDia{
  margin-top: 5%;
  margin-left: 6%;
}
.tcd{
  text-align: center;
}
.ticketCerradosUsu1{
  margin-left: 9%;
  margin-right: 9%;
  margin-top: 2%;
}
.ticketCerradosUsu2{
  margin-right: 9%;
  margin-top: 2%;
}
.usu-name{
  margin-bottom: 2%;
}
.usu-counter{
  text-align: right;
  margin-bottom: 2%;
}
.ticketAbiertosMes{
  margin-top: 5%
}
#LogoCaseHeader{
  z-index: 2;
  margin-left: 40%;
  width: 300px;
  height: 100px;
}
#gif-sup{
  z-index: 2;
}
